/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0 auto;
  max-width: 60em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 90%;
  width: 100%;
  margin: auto;
}

h1, h2, strong {
  color: #333;
}

.col-group > div {
  padding: 1em 1em 0;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }
}
